<div id="section-button">
    <div class="containerButton">
        <a 
            href="{{ section.settings.button }}" 
            class="mybutton" 
            style="
            color: {{ section.settings.colortxt }}; 
            background-color: {{ section.settings.colorbtn }};
            font-size: {{ section.settings.taillebtn }}px;
            " >
            {{ section.settings.textbutton }}
        </a>
        
    </div>
</div>

{% schema %}
{
    "name": "Button",
    "settings": [
        {
            "id": "button",
            "type": "text",
            "label": "Button",
            "default": "Button"
        },
        {
            "id": "textbutton",
            "type": "text",
            "label": "Button text",
            "default": "Clique ici"
        },
        {
            "id": "colortxt",
            "type": "color",
            "label": "Couleur du texte",
            "default": "#FFFFFF"
        },
        {
            "id": "colorbtn",
            "type": "color",
            "label": "Couleur du bouton",
            "default": "#000000"
        },
        {
            "id": "taillebtn",
            "type": "range",
            "min": 12,
            "max": 30,
            "step": 1,
            "unit": "px",
            "label": "Taille du bouton",
            "default": 16
        }
    ]
    ,
    "presets": [
        {
        "name": "Button",
        "category":"Cours IIM"
        }
    ]
}
{% endschema %}
